@use "../../../styles/utils/index" as *;

.container {
  @include container;
}

.content {
  @include contentPage;
  align-items: flex-start;
}

.tagsWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;

  br, p:empty {
    display: none;
  }

  h1, h2, h3, h4, h5, h6, strong, span {
    @include poppins-semibold-xl;
    text-align: start !important;
  }

  p {
    line-height: 1.6 !important;
    text-align: start !important;
  }

  ul, li {
    list-style: inside !important;
  }

}