@use "../../styles/utils" as *;

.container {
  @include content;
  justify-content: center;
  height: 100vh;

  background-image: url("../../assets/images/backgroundLogin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo {
  @include flex-center;
  gap: 17px;
  align-self: stretch;
}

.logoImg {
  width: 90px;
  height: 90px;
}

.logoTitle {
  @include text-style((
          $font-poppins
  ), $weight-semibold, $fs-8xl);
  line-height: 100%;

  background: $gradient-brand-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}